*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .App{
    /* padding: 30px; */
    background-color: #F1F3F6;
  }
  h1{
    font-size: 28px;
    font-weight: bold;
  }

  .coco{
    box-shadow: 0 0 10px 0 rgb(195, 195, 195);
    background-color: #F1F3F6;
    padding-left: 5px;
    border-radius: 20px;
    margin-top: 10px;
    padding-top: 10px;
  }
  .num{
     
    /* background-color: red; */
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.438);
    height: 30px;
    width: 20px;
    border-radius: 10px;
    /* padding-bottom: 9px ; */
    /* width: 15px;
    height: 29px;
    border-radius: 50%; */
    padding: 4px;
  }

  .login,.signup{
    display: flex;
    height: 500px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 800px;
    margin-left: 20%;
    box-shadow: 0 0 10px 0 rgb(195, 195, 195);
    background-color: #F1F3F6;
  }
  .logA,.signA{
    height: 100%;
    background-color: #2874F0;
    width: 40%;
    padding: 30px;
    color: white;
    /* position: relative; */
  }
  .logA p,.signA p{
    color: rgb(222, 221, 221);
    margin-top: 30px;
  }
  .logA img,.signA img{
    margin-top: 45%;
    margin-left: 10%;
  }
  .logB,.signB{
    padding: 20px;
    width: 60%;
    background-color: white;
    position: relative;
  }
  .logB input,.signB input{
    border: none;
    border-bottom: 1px solid rgb(220, 220, 220);
    height: 30px;
    width: 80%;
    margin-top: 10%;
  }
  .logB p,.signB p{
    font-size: 12px;
    color: gray;
    margin-top: 20px;
  }
  .submit{
    height: 50px;
    width: 100%;
    margin-top: 30px;
    font-weight: 500;
    color: white;
    background-color: #FB641B;
    border: none;
  }
  .loginbutton{
    background: none;
    border: none;
    color: #2874F0;
    position: absolute;
    bottom: 25px;
    font-weight: 500;
    left: 25%;
    /* font-weight: bold; */
  }
  
  input:focus, select:focus {
    outline: none;        /*  Removes the default outline   */
    border-top: none;         /* Removes the border on focus */
    border-left: none;
    border-right: none;
  }
  .signupbutton{
    width: 100%;
    background: none;
    font-weight: 500;
    border: none;
    box-shadow: 2px 2px 2px 2px rgb(221, 221, 221);
    height: 50px;
    margin-top: 20px;
    color: #2874F0;
  }
  
  footer p,a{
    font-size: 13px;
  }
  
  
  header{
    margin-top: 0px !important;
  }